:root {
    --primary-dark: #264653;
    --primary-light: #2a9d8f;
    --secondary-dark: #e76f51;
    --secondary-medium: #f4a261;
    --secondary-light: #e9c46a;
    --lightest: #e5e5e5;
    --lightest-transp: rgba(229, 229, 229, 0.4);
    --medium-light: #6c757d;
    --medium: #495057;
    --medium-dark: #343a40;
    --darkest: #001219;
    --darkest-transp: rgba(0, 18, 25, 0.5);
}

/* #region Fonts */

/* pixel */
.pixelify-sans {
    font-family: "Pixelify Sans", sans-serif;
    font-optical-sizing: auto;
    /* font-weight: <weight>; <weight>: Use a value from 400 to 700 */
    font-style: normal;
}

/* code */
.source-code {
    font-family: "Source Code Pro", monospace;
    font-optical-sizing: auto;
    /* font-weight: <weight>;  <weight>: Use a value from 200 to 900 */
    font-style: normal;
}

/* Slab */
.zilla-slab {
    font-family: "Zilla Slab", serif;
    /* font-weight: <weight>;  <weight>: Use a value from 300 to 700 */
    font-style: normal;
}

/* #endregion Fonts */

/* #region Common */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.logo {
    font-family: "Source Code Pro", monospace;
    font-weight: 300;
    color: var(--secondary-light);

    span {
        font-family: "Pixelify Sans", sans-serif;
        font-weight: 700;
        color: var(--primary-light);
    }
}

main {
    background: linear-gradient(to top, var(--primary-dark), var(--lightest-transp)), linear-gradient(to top, var(--primary-dark), var(--primary-light));
}

.container {
    width: 90%;
    margin: 0 auto;
}

section {
    padding: 10rem 0;
    min-height: 94vh;
}

.loading {
    text-align: center;
    line-height: 50vh;
    color: var(--secondary-medium);
    font-size: 10rem;
    font-family: "Pixelify Sans", sans-serif;
}